@media(max-width:650px){
    .logo{
        display: block;
    }
    .text{
        display: none;
    }
    .header{
        
        margin-top: 0;
        justify-content: space-between;
        padding: 20px;
        

    }
    .btn{
        flex-direction: column;
    }
    .bnt1, .bnt2{
        width: 100%;
    }
    .box{
        width: 20%;
        display: flex;
        flex-direction: column;
    }
    .box h1{
        font-size: 20px;
    }
    .cont{
        height: 800px;
    }
    .cont2{
        background-position: center;
    }
    .cont2 h1{
        font-size: 40px;
    }
    .photo1{
        margin-left: 50px;
    }
    
}